# GitHub Actions tarafından GHCR'a gönderilen imaj
IMAGE_NAME=ghcr.io/github-kullanici-adiniz/repo-adiniz
IMAGE_TAG=latest

# Traefik
DOMAIN=pdf.example.com
TRAEFIK_NETWORK=proxy
TRAEFIK_CERT_RESOLVER=letsencrypt

# Mevcut Watchtower instance'ınız scope kullanıyorsa aynı değeri yazın.
WATCHTOWER_SCOPE=default
